.blind {/* 스크린 리더에는 안보이는 클래스*/
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden}
a#homelogo{
    width: 116px;
    height: 50px;
    margin-bottom: 23px;
    display: inline-block;
    background-image: url(./mainlogo_DAM_resized.png);
    text-indent: 101%;
    overflow: hidden;
}
.uu{
    text-decoration: none
}
.btn_black {
    margin: 20px 0 0;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
}
html,body{
    margin:0px;
}
li {
    text-align: -webkit-match-parent;
}
nav li{
    display: inline-block;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;

}
.nav_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 61px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    list-style-type: none;
    color: white;
}

.dropbtn {
    padding: 15px;
    cursor: pointer;
    position: relative;
    top: 18px;
}

.dropbtn a {
    text-align: right;
    text-decoration: none;
    color: white;
}
.login:hover, .login_set:hover {
    background-color: #1d4ccf;
}

.login:active, .login_set:active {
    box-shadow: 0 3px #dfdf;
    transform: translateY(4px);
}
.login, .login_set {
    background-color: black;
    display: inline-block;
    height: 32px;
    width: 120px;
    padding: 1px 15px;
    margin: 1px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px #dfdfdf;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 20px;
}
.navinner_container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #656565;
    list-style-type: none;
}
.navinner_container:hover li{
    background-color: #4d71a7;
}

.navinner_item {
    padding-bottom: 5px;
    padding-top: 5px;
    cursor: pointer;
    width: 150px;
}

.navinner_item a {
    text-align: right;
    text-decoration: none;
    color: white;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;

}
.dropdown-content {
    display: none;
    position: relative;
    background-color: #a5a4a4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 39px;

}
.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    padding: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
}
.div ~ span {
    height: 100%;
    margin: auto;
}
.dropdown:hover{
    background-color: #314590
}
.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover{
    background-color: #596ebd
}
.maincontainer {
    position: relative;
    margin: 0 auto;
    padding: 30px 20px;
    width: 1180px;
}