.blind {/* 스크린 리더에는 안보이는 클래스*/
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden}
a#homelogo{
    width: 231px;
    height: 100px;
    display: inline-block;
    background-image: url(./homelogo.png);
    text-indent: 101%;
    overflow: hidden;
}
.uu{
    text-decoration: none
}
.btn_black {
    margin: 20px 0 0;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
}
html,body{
    margin:0px;
}
li {
    text-align: -webkit-match-parent;
}
nav li{
    display: inline-block;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;

}