title#titlelogo{

}
.blind {/* 스크린 리더에는 안보이는 클래스*/
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden}
a#homelogo{
    width: 231px;
    height: 100px;
    display: inline-block;
    background-image: url(./homelogo.jpg);
}