@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');
/*@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);*/

.blind {/* 스크린 리더에는 안보이는 클래스*/
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden}
a#homelogo{
    width: 116px;
    height: 50px;
    margin-bottom: 23px;
    display: inline-block;
    background-image: url(/images/mainlogo_DAM_resized.png);
    text-indent: 101%;
    overflow: hidden;
}
.uu{
    text-decoration: none
}

#top-logo-text {
    position: relative;
    margin-left: 30px;
    top: -20px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 22px;
    text-decoration: none;
    color: black;
    font-weight: normal;
}

#intro-background {
    width: 50%;
    height: 100%;
    background-color: #00000066;
    float: right;
}

#intro-text {
    color: white;
    font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif';
    font-size: 50px;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30%;
    display: inline-block;
}

html,body{
    margin:0px;
}

nav li{
    display: inline-block;
}

nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.button:hover {
    opacity: 0.5;
}

.button:active {
    box-shadow: 0 3px #dfdf;
    transform: translateY(4px);
}
.button {
    background-color: black;
    display: inline-block;
    height: 32px;
    width: 120px;
    padding: 1px 15px;
    margin: 1px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px #dfdfdf;
    color: white;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    transition: 0.3s;
}

/* 드롭다운 메뉴... */
.button_menu {
    height: 50px;
    width: 100%;
    border-color: #FF000000;
    border-style: solid;
    background: none;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
}
.button_menu:hover {
    background-color: #4d71a7;
    transition: all .15s ease-in-out;
}

.nav_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: black;
    list-style-type: none;
    color: white;
}

.menu {
    height: 50px;
    width: 130px;
    cursor: pointer;
    background: none;
    display: inline-block;
    text-align: center;
    padding-top: 15px;
    vertical-align: top;
    font-size: 16px;
    color: #FFFFFF;
}
.menu:hover{
    background-color: #596ebd;
    transition: all .15s ease-in-out;
}

.menu:hover .dropdown-content{
    display: block;
    visibility: visible;
    background-color: #a5a4a4;
    transition: all .2s ease-in-out;
}

.dropdown-content:hover {
    background-color: #4d71a7;
    transition: all .2s ease-in-out;
}

.dropdown-content {
    width: 130px;
    margin-top: 18px;
    list-style-type: none;
    display: inline-block;
    position: relative;
    visibility: hidden;
    background-color: #FFFFFF00;
    cursor: pointer;
    z-index: 1;
}
.navinner_item {
    cursor: pointer;
    width: 140px;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 130px;
}
/* ...드롭다운 메뉴 */

.div ~ span {
    height: 100%;
    margin: auto;
}
.maincontainer {
    position: relative;
    margin: 0 auto;
    padding: 30px 20px;
    width: 1180px;
}
.textcenter {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
}

@media (max-width:750px){
    #intro-background {
        width: 100%;
        height: 50%;
        background-color: #00000066;
        float: right;
    }

    #intro-text {
        color: white;
        font-family: 'Spoqa Han Sans', 'Spoqa Han Sans KR', 'Sans-serif';
        font-size: 40px;
        width: 100%;
        text-align: center;
        display: table;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        display: inline-block;
    }

    #top-logo-text {
        visibility: hidden;
        display: none;
    }
}

.fadein3s {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}