*{
    margin: 0;
    padding: 0;
}

table{
    border-collapse: collapse;
}

caption{
    display: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.board_list_wrap{
    padding: 50px;
}

.board_list{
    width: 100%;
    border-top:1px solid navy;
}

.board_list tr{
    border-bottom: 1px solid #ccc;
}
.board_list th,
.board_list td{
    padding: 10px;
    font-size: 14px;

}
.board_list td{
    text-align: center;
}
.board_list .tit{
   text-align: left;
}
.board_list .tit:hover {
    text-decoration: underline;
}

.board_list_wrap .paging{
    margin-top: 20px;
    font-size:20px;
    text-align: center;
}
.board_list_wrap.paging a {
    display: inline-block;
    margin-left:10px;
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 2px;
}
.board_list_wrap.paging a :first-child{
    margin-left:0;
}
.board_list_wrap.paging a.bt{
    border:1px solid #eee;
    background: #eee;
}
.board_list_wrap.paging a.num{
    border: 1px solid #000;
    font-weight: 600;
}
.board_list_wrap.paging a.num.on{
    text-decoration:underline ;
    color:navy;
}