#menu_wrapper {
    margin-left: 100px;
    position: absolute;
    top: 30px;
    right: 150px;
}

html, body {
    margin: 0px;
}

a {
    text-decoration: none;
    color: black;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    position: absolute;
    z-index: 4;
    right: 55px;
    top: 5px;
    cursor: pointer;
}

.hamburger-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform-origin: 0 0;
    transition: transform 0.3s ease-out;
}

.hamburger-icon__middle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: all 0.3s ease-out;
    transform-origin: 0 50%;
}

.hamburger-icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform-origin: 0 100%;
    transition: transform 0.3s ease-out;
}

.hamburger-icon--close::before {
    transform: rotate(45deg) scaleX(1.5) translateY(-2px);
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    width: 20px;
    background: #000000;
}

.hamburger-icon--close .hamburger-icon__middle {
    opacity: 0;
    transform: scaleX(0);
    background: #000000;
}

.hamburger-icon--close::after {
    transform: rotate(-45deg) scaleX(1.5) translateY(2px);
    transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    background: #000000;
    width: 20px;
}

.prevent_drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.prevent_drag.menulayout, .prevent_drag.searchlayout {
    user-select: none;
    position: absolute;
    width: 70%;
    height: 600px;
    background-color: #FFFFFF;
    top: 85px;
    left: 15%;
    z-index: 10;
    border: 1px solid black;
    border-top: 0px !important;
    display: none;
}

.prevent_drag.prevent_drag.menulayout > div {
    font-weight: 900;
    text-align: center;
    position: relative;
    display: block
}

.menu {
    display: flex;
}

.menu1 {
    padding: 7%;
    padding-left: 15% !important;
}

.menu1 li {
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.menu1 li:hover {
    color: #f6d34d;
}

li {
    list-style: none;
}

.menu a {
    font-size: 18px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    margin-left: 7.5px;
    margin-right: 7.5px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-bottom: 10px;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #585858;
    transition: all .2s ease-out;
}

.menu a:hover::after {
    width: 100%;
}

@media (max-width: 600px) {
    /*가로 너비가 600px 이하일 때 아래 스타일 적용*/
    #main {
        display: block;
    }

    #main #contents {
        margin-bottom: 10px;
        margin-right: 0px;
    }

    #main #sidebar {
        min-height: 0;
    }

}