@font-face {
    font-family: 'MaruBuri-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/MaruBuri-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.header {
    background: linear-gradient(90deg, rgba(100,232,219,1) 0%, rgba(255,238,149,1) 50%);
    height: 85px;
}

#menu_wrapper {
    margin-left: 100px;
    position: absolute;
    top: 30px;
    right: 150px;
}

html, body {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.hamburger-icon {
    width: 30px;
    height: 20px;
    position: absolute;
    z-index: 4;
    right: 55px;
    top: 5px;
    cursor: pointer;
}

.hamburger-icon::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform-origin: 0 0;
    transition: transform 0.3s ease-out;
}

.hamburger-icon__middle {
    position: absolute;
    top: 8px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transition: all 0.3s ease-out;
    transform-origin: 0 50%;
}

.hamburger-icon::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #000000;
    transform-origin: 0 100%;
    transition: transform 0.3s ease-out;
}

.hamburger-icon--close::before {
    transform: rotate(45deg) scaleX(1.5) translateY(-2px);
    transition: all 0.2s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    width: 20px;
    background: #000000;
}

.hamburger-icon--close .hamburger-icon__middle {
    opacity: 0;
    transform: scaleX(0);
    background: #000000;
}

.hamburger-icon--close::after {
    transform: rotate(-45deg) scaleX(1.5) translateY(2px);
    transition: all 0.2s cubic-bezier(0.810, -0.330, 0.345, 1.375);
    background: #000000;
    width: 20px;
}

.prevent_drag {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.prevent_drag.menulayout, .prevent_drag.searchlayout {
    user-select: none;
    position: absolute;
    width: 70%;
    height: 620px;
    background-color: rgba(237, 237, 237, 0.9);
    top: 85px;
    left: 15%;
    z-index: 10;
    border-radius: 0 0 25px 25px;
    border-top: 0 !important;
    display: none;
}

.prevent_drag.prevent_drag.menulayout > div {
    font-weight: 900;
    text-align: center;
    position: relative;
    display: block
}

.menu {
    display: flex;
}

.menu_content {
    padding: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    font-weight: 800;
    width: 50%;
}

.menu_content > div {
    margin-bottom: 20px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.menu_content div:hover {
    color: #f6d34d;
}

#menu_profile {
    width: 30%;
    height: 100%;
    top: 200px;
}

#menu_list_wrapper {
    width: 70%;
    height: 100%;
    display: flex
}

#menu_profile_divider {
    height: 80%;
    background-color: #888888;
    width: 0.5px;
    margin-top: 10%;
}

.text-recommendation {
    margin: 10px 30px 5px 30px;
    font-weight: 700;
    font-size: 20px;
}

.searchlayout #search-input {
    border: 0;
    border-bottom: 2px solid #f6d34d !important;
    outline: none;
    height: 50px;
    width: 570px;
    display: inline-block;
    background-color: transparent;
    padding: 0;
    font-weight: 900;
    font-size: 30px;
}

#button-search {
    width: 70px;
    height: 40px;
    border-radius: 5px;
    border: none;
    display: inline-block;
    background-color: #FFEE95 !important;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#button-search:hover {
    background-color: #ffe761 !important;
}

li {
    list-style: none;
}

.menu a {
    font-size: 18px;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    margin-left: 7.5px;
    margin-right: 7.5px;
    padding-right: 7.5px;
    padding-left: 7.5px;
    padding-bottom: 10px;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #585858;
    transition: all .2s ease-out;
}

.menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    #menu_wrapper {
        display: none;
    }

    #menu_profile {
        display: none;
    }

    #menu_profile_divider {
        display: none;
    }

    .prevent_drag.menulayout, .prevent_drag.searchlayout {
        user-select: none;
        position: absolute;
        width: 100%;
        height: 400px;
        background-color: rgba(237, 237, 237, 0.9);
        top: 85px;
        left: 0;
        z-index: 10;
        border-radius: 0 0 0 0;
        border-top: 0 !important;
        display: none;
    }

    #menu_list_wrapper {
        width: 100%;
        height: 100%;
        display: flex
    }

    .menu_content {
        padding: 7% 15% 7% 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 25px;
        font-weight: 800;
        width: 50%;
    }
}