@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap');

* {
    box-sizing: border-box;
}

button {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.blind { /* 스크린 리더에는 안보이는 클래스*/
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden
}

a.dropbtn {
    cursor: default;
}

button.button_menu {
    cursor: pointer;
}

img#homelogo {
    margin-bottom: 23px;
    display: inline-block;
}

.uu {
    text-decoration: none
}

.btn_black {
    margin: 20px 0 0;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    border: solid black 2px;
    font-size: 16px;
    color: #ffffff;
    background-color: #f6d34d;
    outline: none;
    cursor: pointer;
}

html, body {
    margin: 0px;
}

li {
    text-align: -webkit-match-parent;
}

nav li {
    display: inline-block;
}

nav ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.nav_container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 61px;
    margin: 0px;
    padding: 0px;
    background-color: black;
    list-style-type: none;
    color: white;
}

.dropbtn {
    padding: 15px;
    cursor: pointer;
    position: relative;
    top: 18px;
    text-align: right;
    text-decoration: none;
    color: white;
    padding: 15px;
}

.button:hover {
    opacity: 0.5;
}

.button:active {
    box-shadow: 0 3px #dfdf;
    transform: translateY(4px);
}

.button {
    background-color: black;
    display: inline-block;
    height: 32px;
    width: 120px;
    padding: 1px 15px;
    margin: 1px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px #dfdfdf;
    color: white;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    transition: 0.3s;
}

.homebutton:hover {
    opacity: 0.5;
}

.homebutton:active {
    box-shadow: 0 3px #dfdf;
    transform: translateY(4px);
}

.homebutton {
    background-color: white;
    display: inline-block;
    height: 32px;
    width: 120px;
    padding: 1px 15px;
    margin: 1px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px #dfdfdf;
    color: black;
    font-size: 15px;
    font-family: 'Noto Sans KR';
    font-weight: bolder;
    transition: 0.3s;
}

/* 드롭다운 메뉴... */
.button_menu {
    height: 48px;
    width: 100%;
    border-color: #FF000000;
    border-style: solid;
    background: none;
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    color: #FFFFFF;
}

.button_menu:hover {
    background-color: #596ebd
}

.navinner_container {
    width: 150px;
    margin: 0;
    padding: 0;
    background-color: #656565;
    list-style-type: none;
}

.navinner_container:hover li .dropdown-content {
    background-color: #4d71a7;
    display: block;
}

.navinner_item {
    cursor: pointer;
    width: 150px;
    transition: 1s;
    transition-timing-function: ease-in-out;
}

.dropdown {
    position: relative;
    display: inline-block;
    height: 100%;
    width: 150px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #a5a4a4;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 36px;
}

.dropdown:hover {
    background-color: #314590
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ...드롭다운 메뉴 */

.div ~ span {
    height: 100%;
    margin: auto;
}

.maincontainer {
    position: relative;
    margin: 0 auto;
    padding: 30px 20px;
    width: 1180px;
}

.textcenter {
    text-align: center;
    display: table;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;

}

.profile_nav {
    padding: 13px 20px;
    float: left;
}

.profile_nav:hover {
    border-bottom: rgba(144, 144, 144, 1) solid 2px;

}

.board_boxpost {
    margin-right: auto;
    margin-left: auto;
    max-width: 30%;
    margin-top: 20px;
}

.post_title {
    font-size: 26px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.posting {
    height: 70%;
    width: 100%;
    cursor: pointer;
    transition: .5s;
}

.board_boxpost:hover > .posting {
    opacity: 50%;
}

.newboard_boxpost:hover > .posting {
    opacity: 50%;
}

.aboutpost {
    position: relative;
    top: -10px;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 0px !important;
}

.newaboutpost {
    padding: 10px;
    position: relative;
    top: -10px;
    background-color: #f1f1f1;
    margin-top: 0px !important;
}

.newpost_title {
    font-size: 26px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.newboard_boxpost {
    margin-right: auto;
    margin-left: auto;
    max-width: 25%;
    margin-top: 20px;
}

#help_list {
    background-color: #f6d34d;
    width: 100%;
    height: 400px;
    display: flex;
}

#help_list > div {
    min-width: 150px;
    padding-top: 70px;
    margin-left: auto;
    margin-right: auto;
    -moz-flex-shrink: 1;
	-webkit-flex-shrink: 1;
	-ms-flex-shrink: 1;
	flex-shrink: 1;
	-moz-flex-grow: 0;
	-webkit-flex-grow: 0;
	-ms-flex-grow: 0;
	flex-grow: 0;
}

#help_list > :first-child {
    margin-left: 10%;
}

#help_list > :last-child {
    margin-right: 10%;
}

@media screen and (max-width: 700px) {
    #help_list {
        width: 100%;
        display: flex;
        align-items: center;
    }
    
    #help_list > div {
        min-width: 100%;
        width: 100%;
        padding-top: 70px;
    }
    
    #help_list > :first-child {
        margin-left: 0%;
    }
    
    #help_list > :last-child {
        margin-right: 0%;
    }

    #help_list > :nth-child(1n) {
        width: calc(100% + 1rem);
    }
}

.fadein3s {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes logodown {
    0% {
        left: -189px;
        margin-left: 50%;
        height: 300px;
        width: 350px;
    }
    100% {
        left: 0px;
        margin-left: 0%;
        height: 100px;
        width: 100px;
    }

}

@keyframes divdown {
    0% {
        height: 300px;
    }
    100% {
        height: 100px;
    }

}

.homespan {
    position: relative;
    color: white;
    top: -30px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 27px;
    text-decoration: none;
    font-weight: normal;
    opacity: 0%;
}

@keyframes fadeout {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.slide_container {
    width: 300vw;
    transition: transform 0.5s;
}

.slide_inner {
    width: 100vw;
    float: left;
}

.inner_img {
    width: 100%;
    height: auto;
}

.img_btn_container {
    position: relative;
    top: -30px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.img_btn_container span {
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #909090;
    cursor: pointer;
    margin: 2px;
}

.img_btn {
    font-size: 100px;
    cursor: pointer;

}

.pnimg_btn_container span {
    font-size: 100px;
    font-weight: bold;
    cursor: pointer;
}

.pnimg_btn_container {
    position: relative;
    top: -400px;
    margin-left: 10%;
    margin-right: 10%;

}

.img_btnpre, .img_btnnext {
    /*background-color: rgba(146, 146, 146,0.5);*/
    vertical-align: middle;
    width: 50px;
}

.img_btnpre {
    float: left;
}

.img_btnnext {
    float: right;
}

.event_boxpost {
    margin-right: auto;
    margin-left: auto;
    max-width: 270px;
    height: 450px;
    margin-top: 30px;
}


.event_title {
    font-size: 26px;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.eventposting {
    cursor: pointer;
    transition: .5s;
}

.evnet_boxpost:hover > .eventposting {
    opacity: 50%;
}

.event_boxpost:hover > .eventposting {
    opacity: 50%;
}

.eventaboutpost {
    position: relative;
    top: -10px;
    padding: 10px;
    background-color: #f1f1f1;
    margin-top: 0px !important;
}

li {
    list-style: none;
}

.stock_info > div {
    display: flex;
    text-align: center;
    vertical-align: center;
    position: relative;
    top : 70px; right: 40px;
}
.stock_info > div > div{
    margin: 15px;
    width: 100px;
}

@media (max-width: 600px) {

}