@charset "utf-8";
/* CSS Document */

body {

}

body > .content {
    width: 100%;
    height: 100%;
}

#background {
    background: rgba(240, 240, 240, 1);
    width: 70%;
    height: 83%;
    top: 0;
    z-index: -1;
    margin-top: 250px;
    border-radius: 25px;
    margin-right: 15%;
    margin-left: 15%;
    position: absolute;
}

#profile-wrapper  {
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
    z-index: 2;
}

#profile-wrapper > #image {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin: 50px auto 0;
    background: linear-gradient(90deg, rgba(100,232,219,1) 0%, rgba(255,238,149,1) 65%);
}

#profile-wrapper > #image > img {
    width: 95%;
    height: 95%;
    margin-top: 5px;
    border-radius: 100px;
}

#profile-wrapper > #name {
    font-size: 30px;
}

#profile-wrapper > #userid {
    text-align: center;
}

#info {
    width: calc(70% - 180px);
    margin-left: 15%;
    margin-top: 30px;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 200px;
    height: 500px;
}

#info-table {
    width: 70%;
    margin: 10px 15% 0;
    border-spacing: 5px 15px;
}

#info-table > tr > td {
    text-align: left;
}

.button-regular {
    height: 40px;
    border-radius: 10px;
    border: none;
    display: inline-block;
    background-color: #FFEE95 !important;
    cursor: pointer;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

#button-change-pw {
    width: 100px;
}

#button-apply {
    width: 100px;
    float: right;
    margin-right: 5px;
    margin-top: 300px;
}

#button-change-pw:hover {
    background-color: #ffe761 !important;
}

.title {
    font-size: 25px;
    font-weight: 450;
    margin-left: 15%;
}

@media (max-width: 650px) {
    #background {
        background: rgba(240, 240, 240, 1);
        width: 100%;
        height: 83%;
        top: 0;
        z-index: -1;
        margin-right: 0;
        margin-left: 0;
        margin-top: 200px;
        border-radius: 25px;
        position: absolute;
    }

    #profile-wrapper > #image {
        width: 150px;
        height: 150px;
        border-radius: 75px;
        margin: 50px auto 0;
        background: linear-gradient(90deg, rgba(100,232,219,1) 0%, rgba(255,238,149,1) 65%);
    }

    #profile-wrapper > #image > img {
        width: 93%;
        height: 93%;
        margin-top: 5px;
        border-radius: 100px;
    }

    #info {
        width: 100%;
        margin: 30px 0 200px;
        padding-left: 0;
        padding-right: 0;
        height: 350px;
    }
}

@media (max-width: 830px) and (min-width: 650px) {
    #info {
        width: calc(90% - 180px);
        margin-left: 5%;
        margin-top: 30px;
        padding-left: 90px;
        padding-right: 90px;
        margin-bottom: 200px;
        height: 500px;
    }
}