.blind {/* 스크린 리더에는 안보이는 클래스*/
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden}
a#homelogo{
    width: 231px;
    height: 100px;
    display: inline-block;
    background-image: url(/images/homelogo.jpg);
    text-indent: 101%;
    overflow: hidden;
}
a#loginlogo{
    width: 463px;
    height: 300px;
    display: inline-block;
    background: url('/images/white_logo.png') center center / 90% no-repeat;
    text-indent: 101%;
    overflow: hidden;
}
a {
    color: #333;
    text-decoration: none;
}
.inner_login {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -145px 0 0 -160px;
}
.login_Dam{
    position: relative;
    width: 320px;
    margin: 0 auto;
}
.screen_out {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    line-height: 0;
    text-indent: -9999px;
}
body, button, input, select, td, textarea, th {
    font-size: 13px;
    line-height: 1.5;
}
fieldset, img {
    border: 0;
}
.login_Dam .box_login {
    border: 1px solid #ddd;
    border-radius: 3px;
    background-color: #fff;
    box-sizing: border-box;
}
.login_Dam .inp_text {
    position: relative;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    width: 260px;
}
.login_Dam .inp_text+.inp_text {
    border-top: 1px solid #dddddd;
    margin-right: 0px;
}
.inp_text{
    border-color: #909090;
}
.inp_text input {
    width: 255.5px;
    height: 100%;
    font-size: 13px;
    color: #000000;
    border-color: #ffffff;
    outline: 0;
    background-color: transparent;
    padding: 18px;
}
.inp_text input:hover {
    transition-duration: 0.7s;
    border-color: #333333;

}

.btn_login {
    margin: 20px 0 0;
    width: 100%;
    height: 48px;
    border-radius: 3px;
    font-size: 16px;
    color: #ffffff;
    background-color: #000000;
}
.login_append {
    overflow: hidden;
    padding: 15px 0 0;
}
.inp_chk {
    display: inline-block;
    position: relative;
    margin-bottom: -1px;
}
.login_append .inp_chk {
    float: left;
}
.inp_chk .inp_radio {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 0;
    background: white;
}
.inp_chk .lab_g {
    display: inline-block;
    margin-right: 19px;
    color: #000000;
    font-size: 13px;
    line-height: 19px;
    vertical-align: top;
}
.inp_chk .ico_check {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 1px 4px 0 0;
    background-position: -60px 0;
    color: #333333;
}
.inp_chk .txt_lab {
    vertical-align: top;
}
.login_append .txt_find {
    float: right;
    color: #777777;
}
.uu{
    text-decoration: none
}
.login_btn{
    width: 100%;
    height: 48px;
    border: 1px solid;
    padding: 12px;
    margin: 12px;
    font-weight:400;
    margin-left: 0px;
    cursor: pointer;
    display: flex;
    outline: none;
}
.basicbtn {
    background-color: black;
    display: inline-block;
    height: 32px;
    width: 120px;
    padding: 1px 15px;
    margin: 1px;
    border: none;
    outline: none;
    border-radius: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 2px #b3b1b1;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    margin-top: 20px;
}
.basicbtn:hover{
    background-color: #1d4ccf;
}
.basicbtn:active{
    transform: translateY(3px);
}
.phone_num{
    border-color: #909090;
}
.phone_num input {
    width: 260px;
    height: 100%;
    font-size: 13px;
    color: #000000;
    border-color: #ffffff;
    outline: 0;
    background-color: transparent;
    padding: 18px;
}
.phone_num input:hover {
    transition-duration: 0.7s;
    border-color: #333333;

}
.btn_login:active{
    transform: translateY(3px);
}
.pop-layer .pop-container {
    padding: 20px 25px;
}

.pop-layer p.ctxt {
    color: #666;
    line-height: 25px;
}

.pop-layer .btn-r {
    width: 100%;
    margin: 10px 0 20px;
    padding-top: 10px;
    border-top: 1px solid #DDD;
    text-align: right;
}

.pop-layer {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 410px;
    height: auto;
    background-color: #fff;
    border: 5px solid #000000;
    z-index: 10;
}

.dim-layer {
    display: none;
    position: fixed;
    _position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.dim-layer .dimBg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .5;
    filter: alpha(opacity=50);
}

.dim-layer .pop-layer {
    display: block;
}

a.btn-layerClose {
    display: inline-block;
    height: 25px;
    padding: 0 14px 0;
    border: 1px solid #000000;
    background-color: #000000;
    font-size: 13px;
    color: #fff;
    line-height: 25px;
}

a.btn-layerClose:hover {
    border: 1px solid #596ebd;
    background-color: #596ebd;
    color: #fff;
}
.change_html{
    overflow: auto;
    height: 300px;
}
.register_logo{

}